extends layout

block content
  h1 #{username}'s Account
  p Welcome #{username}
  p Your password is #{password}
  p Your account is of type 
  form(action="", method="post")
        button(type="submit") Logout
